POSTGRES_DB=core
POSTGRES_USER=admin
POSTGRES_PASSWORD=craftech2026
SECRET_KEY=2026-challenge
DEBUG=0
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend
CORS_ALLOWED_ORIGINS=http://localhost:8080
LOAD_INITIAL_DATA=true
